/* sebelumnya `#body`, jadi nggak kepake */
body{
    font-family: 'Courier New', Courier, monospace;
}
#judul{
    text-align: center;
    border-left: 3px solid rgb(64, 198, 198);
    border-right: 3px solid rgb(64, 198, 198);
    border-bottom: 2px solid rgb(64, 198, 198);
    border-top: 2px solid rgb(64, 198, 198);  
    background-color: rgb(87, 252, 252);
    margin: 0;
}
#sambutan, #deskripsi{
    text-align: center;
}
#gambar-luas-segitiga, #gambar-keliling-segitiga {
    max-width: 1000px;
    width: 80%;
    height: auto;
    align-self: center;
}
/* Luas Segitiga */
#luas-segitiga{
    text-align: center;
    border-top: 3px solid rgb(33, 203, 147);
    background-color: aquamarine;
    border-bottom: 3px solid rgb(33, 203, 147);
}
/* input luas Section */
.input-luas-section{
    display: flex;
    flex-direction: column;
    margin-top: 26px;
}
label{
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: bold ;
    display: inline;
}
.katik-input{
    outline: none;
    border-radius: 10px;
    padding: 4px;
    border-color: blue;
    border-width: 1px;
    display: inline;
    margin-right: 50px;
}
.katik-input:focus{
    border: 1px solid purple;
}
.label-output {
    align-self: center;
}
.div-input {
    margin: 25px;
    width: 100%;
    text-align: center;
    display: inline;
}
#label-keliling {
    align-self: center;
}
.katik-output {
    border-radius: 10px;
    padding: 4px;
    align-self: center;
}
#keliling {
    width: auto;
}
.buttons{
    display: flex;
    align-self: center;
    gap: 30px;
    margin-top: 10px;
}
button{
    background-color: darkcyan;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.button{
    display: flex;
    align-self: center;
    gap: 30px;
    margin-top:10px
}
button:active{
    background-color: yellowgreen ;
    transform: translateY(5px);
}
/* Input keliling section */
#keliling-segitiga{
    text-align: center;
    border-top: 3px solid rgb(33, 203, 147);
    background-color: aquamarine;
    border-bottom: 3px solid rgb(33, 203, 147);
}
.input-keliling-section{
    display: flex;
    flex-direction: column;
    margin-top: 26px;
}
.button{
    display: flex;
    align-self: center;
    gap: 30px;
    margin-top: 10px;
}